@charset "UTF-8";
/* para identificar ID use # e para classes use . */
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color : green;
    text-align: center;
}
h1#principal {
    color : green;
    text-align: center;
    background-color: azure;
    font-family: 'Franklin Gothic Medium', sans-serif;
}   

h2 {
    color : green;
    text-align: right;
}
p {
    color : green;
    text-align: justify;
}
.basico {
    color :greenyellow;
    text-align: left;
}
.avancado {
    color : lime;
    text-align: right;
    font-weight: bold;
}
.destaque {
    background-color: rgba(162, 194, 73, 0.473);
}