@charset "UTF-8";
* {
    font-family: 'Times New Roman', Times, serif;
    /*height: 100%;*/
    margin: 20px;

}
body {
    background-image: linear-gradient(to right,#D95A2B,#A64521);
}
    main {
        background-color: white;~
        width: 600px;
        padding: 10px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.3);

    }
    h1 {
        color: #D95A2B;
        text-align: center;
        text-shadow: 1px,1px 2px rgba(56, 12, 12, 0.2);
    
    }
    h2 {
        color: #A64521;
    }