@charset "UTF-8";
 body {
            background-color: ghostwhite;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;}
            
         h1{
            color: black;
            background-color: slategray
         }
        h2{
                color: black;
                background-color: slategray
        }
        p{
            color: black;
            background-color: lightgray
            text-align: justify;
        }